<h1>どんな動物がいるかな？</h1>
<%= link_to "とびら１", page_path("kame"), class: "btn btn-primary" %>
<%= link_to "とびら2", page_path("usagi"), class: "btn btn-primary" %>
<%= link_to "とびら3", page_path("tanuki"), class: "btn btn-primary" %>
